[Unit]
Description=Pi Radio App

[Service]
ExecStart=python server.py
Restart=always
RestartSec=1
User=c
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
WorkingDirectory=/home/c/pi-world-radio/app

[Install]
WantedBy=multi-user.target
